<%- contentFor('title') %> FAQS <%- contentFor('styles') %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
/>

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/admin.css" />
<link rel="stylesheet" href="/css/responsive.css" />
<link rel="stylesheet" href="/css/variables.css" />

<%- contentFor('body') %>
<main class="main-register">
  <h1 class="title-register">Preguntas Frecuentes</h1>
  <p class="item_franquicia">
    Lorem ipsum dolor sit amet consectetur adipiscing elit ut, egestas risus
    proin posuere ligula pharetra cras class ullamcorper, rutrum sagittis ornare
    rhoncus libero varius nulla. Tempus sodales malesuada ut suscipit duis erat
    molestie nec, ad ultrices justo phasellus ligula per at nibh iaculis, montes
    vel senectus luctus mollis sed pretium. Himenaeos metus netus sodales
    eleifend platea eget integer leo, at per pellentesque blandit viverra
    suspendisse cubilia quam purus, sem sollicitudin quis luctus nulla neque
    ornare.
  </p>
  <p class="item_franquicia">
    Mauris est varius eleifend vehicula augue venenatis maecenas potenti, nulla
    inceptos integer nam nullam class euismod lectus purus, faucibus platea
    blandit ornare odio egestas dis. Urna mauris praesent vivamus velit aliquam
    aptent lacus mi pellentesque, fusce id himenaeos habitasse conubia dictumst
    accumsan varius eget nostra, litora porttitor habitant egestas mattis
    cubilia dignissim platea. Facilisi praesent magnis primis lacus aptent
    ultricies et arcu, penatibus blandit netus tempus purus euismod non
    parturient, tellus morbi nulla suspendisse lectus at leo.
  </p>
</main>

<%- contentFor('scripts') %>
<script src="../index.js"></script>
