<%- contentFor('title') %> Login <%- contentFor('styles') %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
/>

<link rel="stylesheet" href="/index.css" />
<link rel="stylesheet" href="/admin.css" />
<link rel="stylesheet" href="/responsive.css" />
<link rel="stylesheet" href="/css/variables.css" />

<%- contentFor('body') %>
<main class="main-register">
  <h1 class="title-register">INGRESAR A MI CUENTA</h1>
  <div>
    <form class="login-form">
      <div class="user-register">
        <label for="Email">Email:</label>
        <input
          type="text"
          class="borde_rojo input_texto input-login"
          placeholder="johndoe@correo.com"
        />
      </div>
      <div class="password-register">
        <label class="password-field" for="password">Contraseña:</label>
        <input
          type="password"
          class="borde_rojo input_texto input-login"
          placeholder="********"
        />
      </div>
      <div class="actions-login">
        <a type="submit" href="/admin" class="boton-login">Ingresar</a>
        <div class="rememberme">
          <input type="checkbox" class="checkbox-login" />
          <label class="rememberme-label">Recordarme</label>
        </div>
      </div>
    </form>
  </div>
  <a href="#" class="password-lost">Olvidé mi contraseña</a>
</main>
<%- contentFor('scripts') %>
