<%- contentFor('title') %> Carrito <%- contentFor('styles') %>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<link rel="stylesheet" href="../admin.css" />
<link rel="stylesheet" href="../index.css" />
<link rel="stylesheet" href="../css/variables.css" />
<link rel="stylesheet" href="../responsive.css" />
<link
  rel="shortcut icon"
  href="../img/branding/isotype.svg"
  type="image/x-icon"
/>

<%- contentFor('body') %>

<main>
    <h1>PRUEBA</h1>
    <p>Aca tiene que ir los partial pero no lo entiendo</p>
</main>



<%- contentFor('scripts') %>

<script src="../index.js"></script>