<tr class="table-row">
  <td class="table-item"><%=producto.id %></td>
  <td class="table-item"><%=producto.barcode %></td>
  <td class="table-item"><%=producto.title %></td>
  <td class="table-item"><%=producto.class %></td>
  <td class="icons-edit-delete table-item">
    <a href="edit.html" class="material-symbols-outlined icon-edit"> edit </a>
    <a href="delete.html" class="material-symbols-outlined icon-delete"
      >delete</a
    >
  </td>
</tr>
