<header class="header" id="nav-active">
  <nav class="nav">
    <picture class="logo">
      <a href="/index.html">
        <img
          src="/img/branding/logo_light_horizontal.svg"
          alt="Logo de la marca"
        />
      </a>
    </picture>
    <ul class="nav-menu" id="nav-list">
      <li class="nav-menu-item" id="shop-menu">
        <a href="/pages/shop.html" class="nav-menu-link nav-link"
          >SHOP &#709;</a
        >
        <ul class="submenu" id="shop-submenu">
          <li><a href="/pages/shop.html">HARRY POTTER</a></li>
          <li><a href="/pages/shop.html">STAR WARS</a></li>
          <li><a href="/pages/shop.html">POKEMON</a></li>
        </ul>
      </li>
      <li class="nav-menu-item">
        <a href="/pages/contact.html" class="nav-menu-link nav-link"
          >CONTACTO</a
        >
      </li>
      <li class="nav-menu-item">
        <a href="/pages/login.html" class="nav-menu-link nav-link">LOGIN</a>
      </li>
      <li class="nav-menu-item">
        <a href="/pages/cart.html" class="cart">
          <img
            class="cart-icon"
            src="/img/icons/cart-icon.svg"
            alt="icono de carrito de compras"
          />
        </a>
      </li>
    </ul>
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
