<section class="collection" >
    <article class="collection__content">
      <div class="collection__title"><%= licence.name %></div>
      <p class="collection__text">
        <%= licence.description %>
      </p>
      <a href="/shop" class="collection__link">VER COLECCIÓN</a>
    </article>
    <picture class="collection__cover">
      <img src="<%= licence.cover%>"  alt="<%= licence.altCover%>" />
    </picture>
  </section>