<section class="collection" >
    <article class="collection__content">
      <div class="collection__title"><%= license.name %></div>
      <p class="collection__text">
        <%= license.description %>
      </p>
      <a href="/shop" class="collection__link">VER COLECCIÓN</a>
    </article>
    <picture class="collection__cover">
      <img src="<%= license.cover%>"  alt="<%= license.altCover%>" />
    </picture>
  </section>